.svg {
  animation: rotate-grid 120s linear forwards infinite;
}

.line {
  stroke-dasharray: 1;
  animation: draw-line 15s ease-in-out forwards infinite;
}

@keyframes rotate-grid {
  0% {
    transform: translateY(-50%) perspective(1000px) rotateX(45deg) rotateZ(0deg);
  }
  100% {
    transform: translateY(-50%) perspective(1000px) rotateX(45deg)
      rotateZ(360deg);
  }
}

@keyframes draw-line {
  0% {
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
