.svg {
  animation: rotate-grid 120s linear both infinite;
}

.line {
  animation: draw-line 15s ease-in-out both infinite;
}

@keyframes rotate-grid {
  0% {
    transform: translateY(-50%) perspective(1000px) rotateX(45deg) rotateZ(0deg);
  }
  100% {
    transform: translateY(-50%) perspective(1000px) rotateX(45deg)
      rotateZ(360deg);
  }
}

@keyframes draw-line {
  0% {
    stroke-dashoffset: 3;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
