button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: transparent;
  color: white;
  font-size: 1rem;
  border: solid 2px white;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: background var(--fast), border-color var(--fast),
    opacity var(--fast);
}

button:not([disabled]):hover,
button:not([disabled]):focus {
  background: var(--blue);
  border-color: var(--blue);
}

button[disabled] {
  opacity: 0.25;
}
