.checkbox {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  transition: background var(--fast);
}

.checkbox:is(:hover, :focus){
  background: var(--hollow);
}

.checkbox > input {
  appearance: none;
  flex-shrink: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 0;
  background: var(--hollow);
  transition: background var(--fast);
}

.checkbox > input:checked {
  background: var(--blue);
  background-image: url("../assets/checkbox.svg");
  background-size: cover;
}

.checkbox > span {
  margin-left: 15px;
  line-height: 1.25;
}
