.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px 20px;
}

@media (min-width: 500px) {
  .grid:is([data-cols="2"], [data-cols="3"]) {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .grid:is([data-cols="3"]) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
